/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Your code starts here! */
/* Quick reset of margin and padding on all elements */
* {
  margin: 0;
  padding: 0;
}
a {
  color: gray;
  text-decoration: none;
  font-size: 0.75em;
}
button {
  background-color: white;
  border: none;
  outline: none;
  box-shadow: 0 0 0 1px black;
}
img {
  width: 100%;
}

.border-top {
  border-top: 1px solid black;
}
.border-bottom {
  border-bottom: 1px solid black;
}

/* Containers */
.wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 50px 0 100px 50px;
}
.container {
  position: relative;
  display: inline-block;
}
.container.__100 {
  width: 100%;
}
.container.__75 {
  width: 75%;
}
.container.__50 {
  width: 49%;
}
.container.__33 {
  width: 32.33333333%;
}

/* Header */
nav {
  display: inline-block;
}
nav a {
  display: inline-block;
  padding: 10px 5px 10px 0;
  margin: 9px 60px 9px 0;
}
h1.logo {
  display: inline-block;
  text-indent: -9999px;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 50px;
  width: 150px;
  position: absolute;
  right: 0;
}

.introduction {
  padding: 75px 0 0;
}
.introduction h2 {
  text-align: center;
  padding: 0 69px;
  font-size: 4.5em;
}
.introduction button {
  display: block;
  padding: 5px 35px;
  margin: 0 auto;
  cursor: pointer;
}
.introduction .headline {
  top: -80px;
}

/* Main */
.main-content {
  padding: 50px 0;
  margin: 50px 0;
}
.main-contnet h3 {
  font-size: 1.5em;
}
.main-content img {
  margin: 30px 0;
}
.main-content p {
  font-size: 0.85em;
  line-height: 1.3;
  padding: 0 20px 0 0;
}

/* Footer */
.contact {
  margin: 0 0 50px;
}
.contact .address > li,
.contact .email,
.contact .phone {
  font-size: 0.85em;
  color: black;
  display: block;
}
address .address,
address .phone {
  margin-bottom: 20px;
}
footer p {
  display: block;
  text-align: center;
}
